
<!--
<div class="col50">
</div> 
<div class="col50">
    <div>
    </div>    
    <div class="center smallFont blue">
        <a href="">Privacy Policy</a><span> &#x2022;</span>
        <a href="">Rules and Regulations</a><span> &#x2022;</span>
        <a href="">Policy on Patron-Generated Web Content</a><span> &#x2022;</span>
        <a href="">Terms and Conditions</a><span> &#x2022;</span>
    </div>
</div>    
<div class="clear"></div>
-->
     <div class="smallFont center">
        <a href="http://loc.gov" target="_blank"><img class="floatLeft" src="/static/images/loc/logo-loc.png" /></a>
Data sourced from <a target="_blank" href="http://geonames.org">GeoNames</a>, <a target="_blank" href="http://planet.openstreetmap.org">OpenStreetMap</a>, <a target="_blank" href="http://id.loc.gov">Library of Congress Authorities and Vocabularies Service</a>, <a target="_blank" href="http://nhgis.org">National Historical GIS (NHGIS)</a>, <a target="_blank" href="http://www.naturalearthdata.com/">Natural Earth </a>, <a target="_blank" href="http://nrhp.focus.nps.gov/natreg/docs/Download.html">NPS Historic Places Register</a>, <a href="http://www.census.gov/geo/maps-data/data/tiger-cart-boundary.html">Tigerline</a> and <a target="_blank" href="http://hpdb.org">Historical Place Marker Database (HMDB)</a>
    </div>
    
</div>
