local_settings.py
secret.txt

.Python
bin
include
lib
dist
local
*~
*.pyc
pip-log.txt
*.swo
*.swp
lib64
node_modules/
npm-debug.log
src/
static/js/build/
gazetteer/static/
gazetteer/media/batch_uploads/*.csv
