
DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'gazetteer',                      # Or path to database file if using sqlite3.
        'USER': 'gazetteer',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

ELASTICSEARCH = {
    'default' :{
        'HOST': 'http://localhost:9200/',
        'INDEX' :'gazetteer',
        'DOC_TYPE' : 'place',
    }
}


GAZETTEER = {
    'instance_name': 'loc',
    'logo': 'static/images/loc/logo-loc.png',
    'favicon': '/static/images/favicon.ico',
    'url': 'http://loc.gov/',
    'center_lat': 34.11577,
    'center_lon': -93.855211,
    'default_zoom': 4,
    'footer_text': ''
}





