{% extends 'base.html' %}

{% block page_title %} Create new place  {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}select2/select2.css" />
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <script type="text/javascript">
        {% autoescape off %} 
        var place_geojson = {{ place_geojson }} ;
        {% endautoescape %} 
    </script>
    <script src="{{ STATIC_URL }}js/new.js?2"></script>
{% endblock %}



{% block content %}
<div id="contentWrapper">
<h4>New Place </h4>
<form id="placeForm" method="post">
    <ul>
        
        <li><label class="infoLabel" for="placeName">Name:</label> <input id="placeName" value="{{ place.name }}" type="text" /> </li>
        <li>
            <label class="infoLabel" for="featureCode">Feature Code:</label>
            <input type="hidden" class="select2autocomplete" style="width:400px;height:20px;" id="featureCode" value="PPL" />  
        
        </li>
        <li>
            <label class="infoLabel" for="is_composite">Composite Place?</label>
            <input type="checkbox" id="is_composite" value="">
        </li>
        
        <li><input type="submit" value="Save" /><span id="saveNotification"></span></li>
    </ul>

</form>

<br />
</div>

<div class="map" id="map">

</div>

<div style="clear:both;"></div>
{% endblock %}

