
<div class="col20">
    <div class="footerLogoWrap">
        <a href="http://www.nypl.org" target="_blank"><img src="/static/images/nypl/logo-nypl.png" width="100" alt="" class="logo"></a>
        
    </div><!-- <div class="footerLogoWrap">
        <a href="http://topomancy.com" target="_blank"><img src="/static/images/logo-topomancy.jpg" width="120" alt="" class="logo"></a>
    
    </div> -->
</div> 
<div class="col60">
    <div>
        <p><strong>
            A collaboration of NYPL Labs and Topomancy with support from the National Endowment for the Humanities
        </strong>
        </p>
    </div>    
    <div class="center smallFont blue">
        <a href="">Privacy Policy</a><span> &#x2022;</span>
        <a href="">Rules and Regulations</a><span> &#x2022;</span>
        <a href="">Policy on Patron-Generated Web Content</a><span> &#x2022;</span>
        <a href="">Terms and Conditions</a><span></span>
    </div>
</div>  
<div class="col20"> 
    <div class="footerLogoWrap floatRight">
            <a href="http://www.neh.gov" target="_blank"><img src="/static/images/nypl/logo-national-humanities.png" width="180" alt="" class="logo"></a>
    </div>
</div>

<div class="clear"></div>
<!--
     <div class="smallFont center">The City of New York can not vouch for the accuracy or completeness of data provided by this web site or application or for the usefulness or integrity of the web site or application. This site provides applications using data that has been modified for use from its original source, NYC.gov, the official web site of the City of New York.</div>
-->    
</div>
